<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--表示用会社情報-->
    <add key="DisplayCompanyName" value="テスト環境" />
    <!--表示用システム情報-->
    <add key="DisplaySystemName" value="作業管理システム" />
    <add key="DisplaySystemVersion" value="2021Ed" />
    <!--データベース定義-->
    <!--データベース定義暗号化-->
    <add key="EncryptedConnectionSetting" value="False" />
	<!--SQLサーバ名-->
	<add key="SQLConnServerName" value="VSV-1-SQLDEV04\SQL2019" />
	<!--データベース名称-->
	<add key="SQLConnDbName" value="WorkManage2022_BirmenKagoshima_Dev" />
	<!--User名称-->
	<add key="SQLConnUserId" value="sa" />
	<!--Password-->
	<add key="SQLConnPassword" value="Nsk5930" />
    <!--SQLコネクションタイムアウト（指定のない限りコマンドタイムアウトと共通）-->
    <add key="SQLConnTimeout" value="300" />
    <!--認証モード（信頼関係接続の有無）-->
    <add key="SQLConnTrusty" value="false" />

    <!--トラDONデータベース接続情報 START-->
    <!--SQLサーバ名-->
    <add key="TraDonSQLServerName" value="153.127.8.197"/>
    <!--データベース名称-->
    <add key="TraDonSQLDbName" value="SagyoManage_TamuraUnyu_TraDonV50_Dev_Demo"/>
    <!--User名称-->
    <add key="TraDonSQLUserId" value="DEV01"/>
    <!--Password-->
    <add key="TraDonSQLPassword" value="xMcgMPjw"/>
    <!--SQLコネクションタイムアウト（指定のない限りコマンドタイムアウトと共通）-->
    <add key="TraDonSQLTimeout" value="300"/>
    <!--認証モード（信頼関係接続の有無）-->
    <add key="TraDonSQLTrusty" value="false"/>
    <!--トラDONデータベース接続情報 END-->
    
    <!--ログイン画面のタイトル背景色のみここで設定してください（その他はシステム設定で配色設定可能です）-->
    <add key="FrameTitleBackColor" value="186, 226, 188" />
    
    <!--バージョン定義-->
    <!--
      本セクションは、ClickOnce以外の手段で配布された場合に表示する
      バージョン番号を定義します。
      このバージョン番号は、ClickOnceのバージョンと一致させ、さらに
      DeployNSKの同一の項目と一致させてください。
    -->
    <add key="LocalVersion" value="1.0.0.0" />
    <!--NSK管理用-->
    <!--
      本セクションはNSKの管理用の情報を定義します。
    -->
    <!--NSK管理用ログインID-->
    <add key="NSKAdminID" value="nskadmin" />
    <!--NSK管理用ログインパスワード-->
    <add key="NSKAdminPassword" value="Nsk5930" />
    <!--ログ出力レベル-->
    <!--
      本セクションには、NSKLogwriter使用時のログ出力レベルを
      設定します。９段階で設定します。
      ８・・・・・・・・・・・・・・・・・・・・・・１
      debug->info->notice->warn->err->crit->alert->emerg
      0を設定すると、ログを出力しません。
      なお、システム動作中に取得する操作ログのことではありません。
    -->
    <add key="ApplicationLogLevel" value="0" />
    <!--SQLステートメントログ出力-->
    <add key="jp.co.jpsys.db.SqlStmtDebugLog" value="False" />
    <!--抽出対象複数選択時の最大値-->
    <add key="ChooseMultiSelectableMaxCount" value="7000" />
    <!--Sdiで実行するかどうか-->
    <add key="IsSidMenu" value="True" />
    <!--エディション名・導入顧客先別の識別名-->
    <add key="EditionName" value="TamuraUnyu" />
    <!--その他セクション-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--高DPIに対応するための設定-->
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
